/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Colors */
    --color-main: hsl(357, 87%, 49%);
    --color-black: hsl(0, 0%, 0%);
    --color-white: hsl(0, 0%, 100%);
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 375px;
}

html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Container */
.container {
    max-width: 1440px;
    margin: 0 auto;
}

/* Header / Navigation */
.header {
    background: var(--color-black);
    border-bottom: 2px solid var(--color-main);
}

.navigation {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
}

/* Logo */
.logo {
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--color-main);
    line-height: 1.1;
    transition: all .4s;
}

.logo:hover {
    transform: scale(1.1);
}

/* List */
.list {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.links {
    font-size: .938rem;
    font-weight: 400;
    color: var(--color-white);
    line-height: 1.1;
    transition: all .4s;
}

.links:hover {
    color: var(--color-main);
}

/* Close Menu/ Toggle Menu */
.close-menu,
.toggle-menu {
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    & i {
        color: var(--color-white);
    }
}

.close-menu i {
    font-size: 2rem;
}

.toggle-menu i {
    font-size: 1.6rem;
}

/* Button Wpp */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-link {
    font-size: .938rem;
    font-weight: 400;
    color: var(--color-white);
    background: var(--color-main);
    border: 1px solid var(--color-main);
    border-radius: 2rem;
    padding: .6rem 1.5rem;
    transition: all .4s;
}

.btn-link:hover {
    color: var(--color-main);
    background: transparent;
    transform: scale(1.1);
}

/* Home Section / Home Page */
.swiper-button-prev,
.swiper-button-next {
    width: 25px !important;
    height: 25px !important;
    background: transparent;
    border-radius: 50%;
    border: 1px solid var(--color-main);
    box-shadow: 0px 0px 20px 0px rgba(92, 115, 160, 0.2);
    padding: 1rem;
    text-align: center;
}

.swiper-button-prev::after {
    font-size: .938rem !important;
    font-weight: 900;
    color: var(--color-main);
}

.swiper-button-next::after {
    font-size: .938rem !important;
    font-weight: 900;
    color: var(--color-main);
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 1.5rem !important;
}

.swiper-pagination-bullet {
    position: relative;
    width: .638rem !important;
    height: .638rem !important;
    opacity: 1;
    background: var(--color-main) !important;
}

/* INFOR CONTAINER / CARDS */
.infor-container {
    background: #000000;
    border-top: 2px solid var(--color-main);
    border-bottom: 2px solid var(--color-main);
}

.content {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.cards-infor {
    width: 330px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--color-main);
    padding: .838rem;
    border: 2px solid transparent;
    border-radius: .5rem;
    cursor: pointer;
    transition: all .4s;
}

.cards-infor:hover {
    background: var(--color-black);
    border: 2px solid var(--color-main);

}

.icon-infor {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;

    & i {
        font-size: 2rem;
        color: var(--color-white);
    }
}

.title-infor-cards {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-white);
    line-height: 1;
    margin-bottom: .40rem;
    text-align: center;
}

.p__infor-cards {
    font-size: .938rem;
    color: var(--color-white);
    line-height: 1.2;
    text-align: center;
}

/* CLIENTS SECTION */
.clients-section {
    background: #e9e9e9;
}

.title-clients-page {
    text-align: center;
    font-size: 2rem;
    color: var(--color-black);
    line-height: 1.3;
    padding-top: 3rem;
}

.color-text-clients {
    color: var(--color-main);
}

.clients-content {
    padding: 5rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.card-clients {
    width: 330px;
    background: var(--color-white);
    padding: .938rem;
    border-radius: .5rem;
    border: 2px solid var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all .4s;
}

.card-clients:hover {
    border: 2px solid var(--color-main);
    background: transparent;
}

.image-clients {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.3rem;

    & i {
        font-size: 3.5rem;
        color: var(--color-main);
    }
}

.p__text-clients {
    font-size: .938rem;
    text-align: center;
    color: var(--color-black);
    line-height: 1.5;
    margin-bottom: 1rem;
}

.name-clients {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.1;
    text-align: center;
    color: var(--color-main);
    margin-bottom: .538rem;
}

.star-clients {
    display: flex;
    justify-content: center;
    gap: .25rem;
    align-items: center;

    & i {
        font-size: .938rem;
        color: #ffae00;
    }
}

/* SECTION COURTEOUS */
.content-courteous {
    padding: 5rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.image-courteous {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 1rem;
}

/* FOOTER */
.footer {
    width: 100%;
    background: var(--color-main);
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    border-top: 2px solid var(--color-black);
}

.logo-footer {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-black);
    line-height: 1.1;
    transition: all .4s;
}

.text-footer {
    font-size: .938rem;
    line-height: 1;
    color: var(--color-black);
}

















/* MQ */
@media screen and (max-width: 1023px) {

    /* Logo */
    .logo {
        font-size: 1.4rem;
    }

    /* Card List */
    .list-card {
        position: fixed;
        top: 0;
        right: -120%;
        background: var(--color-black);
        border-left: 2px solid var(--color-main);
        width: 60%;
        height: 100%;
        padding: 2.5rem;
        z-index: 9999;
        transition: all .7s;
    }

    /* List */
    .list {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 10rem;
        gap: 4rem;
    }

    /* Close Menu/ Toggle Menu */
    .close-menu,
    .toggle-menu {
        display: flex;
    }

    .close-menu {
        position: absolute;
        top: 1.2rem;
        right: 1.4rem;
    }

    /* Show Menu */
    .show-menu {
        right: 0;
    }

    /* INFOR CONTAINER / CARDS */
    .content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        place-items: center;
    }

    .cards-infor {
        width: 100%;
    }

    .icon-infor {

        & i {
            font-size: 1.5rem;
        }
    }

    .title-infor-cards {
        font-size: 1rem;
    }

    .p__infor-cards {
        font-size: .838rem;
        line-height: 1;
    }

    /* CLIENTS SECTION */
    .clients-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        place-items: center;
    }

    .card-clients {
        width: 100%;
    }

    .image-clients {

        & i {
            font-size: 2.8rem;
        }
    }

    .p__text-clients {
        font-size: .838rem;
        line-height: 1.3;
    }

    .name-clients {
        font-size: 1rem;
    }

    .star-clients {

        & i {
            font-size: .838rem;
        }
    }
}

@media screen and (max-width: 767px) {

    /* Logo */
    .logo {
        font-size: 1.2rem;
    }

    .btn-link {
        font-size: .738rem;
        padding: .5rem 1.3rem;
    }

    /* CLOSE MENU / TOGGLE MENU */
    .close-menu i {
        font-size: 1.7rem;
    }

    .toggle-menu i {
        font-size: 1.4rem;
    }

    /* INFOR CONTAINER / CARDS */
    .content {
        grid-template-columns: repeat(1, 1fr);
    }

    .icon-infor {

        & i {
            font-size: 1.5rem;
        }
    }

    .title-infor-cards {
        font-size: .938rem;
    }

    .p__infor-cards {
        font-size: .738rem;
        line-height: 1;
    }

    /* CLIENTS SECTION */
    .title-clients-page {
        font-size: 1.5rem;
    }

    .clients-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        place-items: center;
    }

    .card-clients {
        height: 220px;
    }

    .image-clients {

        & i {
            font-size: 2.5rem;
        }
    }

    .p__text-clients {
        font-size: .738rem;
        line-height: 1.3;
    }

    .name-clients {
        font-size: .938rem;
    }

    .star-clients {

        & i {
            font-size: .838rem;
        }
    }
}