* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-width: 375px;
}

section {
    padding: 3.5rem 1.5rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}