.scroll-locked {
  overflow: hidden !important;
  height: 100% !important;
  touch-action: none;
  overscroll-behavior: none;
  position: fixed;
  width: 100%;
}
/* Dropdown Click e Hover*/

.relative.group:hover>div {
    opacity: 1;
    visibility: visible;
    transform: translateX(1.25rem) translateY(0);
}

.open {
    opacity: 1 !important;
    visibility: visible !important;
    transform: translateX(1.25rem) translateY(0) !important;
}

/* CARROSEL INICIAL */
.swiper-pagination-home .swiper-pagination-bullet {
    width: 2.5rem !important;
    height: 0.313rem !important;
    background: #FFFFFF !important;
    border-radius: 0.75rem !important;
    opacity: 0.4 !important;
    margin: 0 10px !important;
}

.swiper-pagination-home .swiper-pagination-bullet-active {
    width: 3.5rem !important;
    transition: all 0.3s !important;
    opacity: 1 !important;
    transform: scale(1.2) !important;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next .swiper-button-next-home {
    left: calc((100vw - 1290px) / 2) !important;
    right: auto;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev .swiper-button-prev-home {
    right: calc((100vw - 1290px) / 2) !important;
    left: auto;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev .swiper-button-prev-home {
    right: calc((100vw - 1290px) / 2) !important;
    left: auto;
}

/* CARROSEL PLANOS COMBOS */
.swiper-pagination-combos {
    display: flex;
    width: initial !important;
}

.swiper-pagination-combos .swiper-pagination-bullet {
    width: 2.7rem !important;
    height: 0.2rem !important;
    background: #f54a00 !important;
    border-radius: 0.75rem !important;
    margin: 0 10px !important;
}

.swiper-pagination-combos .swiper-pagination-bullet-active {
    width: 3.5rem !important;
    transition: all 0.3s !important;
    opacity: 1 !important;
    transform: scale(1.2) !important;
}

.swiper-button-next-combos, .swiper-button-prev-combos {
    top: initial !important;
    bottom: 0;
}

.swiper-button-next-combos {
    right: 100px !important;
}

.swiper-button-prev-combos {
    left: initial !important;
    right: 200px !important;
}
/* CARROSEL PLANOS INTERNET */
.swiper-slide-plans {
    max-width: 274px !important;
}

.swiper-pagination-plans {
    display: flex;
    width: initial !important;
}

.swiper-pagination-plans .swiper-pagination-bullet {
    width: 2.7rem !important;
    height: 0.2rem !important;
    background: #f54a00 !important;
    border-radius: 0.75rem !important;
    margin: 0 10px !important;
}

.swiper-pagination-plans .swiper-pagination-bullet-active {
    width: 3.5rem !important;
    transition: all 0.3s !important;
    opacity: 1 !important;
    transform: scale(1.2) !important;
}

.swiper-button-next-plans, .swiper-button-prev-plans {
    top: initial !important;
    bottom: 0;
}

.swiper-button-next-plans {
    right: 100px !important;
}

.swiper-button-prev-plans {
    left: initial !important;
    right: 200px !important;
}

